body {
  margin: 0;
  background-color: whitesmoke;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

button {
  cursor: pointer;
  background-color: #cbff10;
  border: none;
  outline: none;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 1.5rem;
}

a {
  color: #4361ee;
  font-weight: bold;
}

.container {
  width: 90vw;
  height: 90vh;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
